<?xml version="1.0"?>
<configuration>
  <!-- Settings da Web Application PTIntranetSGPS -->
  <appSettings>
    <!-- Enviroment : DEV or PROD -->
    <add key="environment" value="QA"/>
    <add key="imagePath" value="/PTIntranetSGPS/img/"/>
    <add key="cssPathFile" value="/PTIntranetSGPS/css/insapo"/>
    <add key="cssPathExtension" value=".css"/>
    <add key="MaxPostingsDefault" value="50"/>
    <add key="URLSearchResultsPage" value="/PTIntranetSGPS/Templates/SGPSSearchResults.aspx"/>
    <add key="WebServiceSearchURL" value="http://internalws.qa.telecom.pt/ws/search.asmx"/>
    <add key="SearchResultsMax" value="10"/>
    <add key="SearchUserName" value="NegocioFixo"/>
    <add key="SearchUserPass" value="12345"/>
    <add key="URLGoogleSearchResultsPage" value="http://www.google.com/search"/>
    <add key="ADURLSearchResultsPage" value="/PTIntranetCorp/Canais/ListagemAD"/>
    <add key="WebServiceADSearchURL" value="http://internalws.qa.telecom.pt/ws/usermng.asmx"/>
    <add key="WebServiceADSearchDomain" value="DC=CORPPT,DC=com"/>
    <add key="ADSearchResultsMax" value="10"/>
    <add key="ADSearchUserName" value="SGPSWebService"/>
    <add key="ADSearchUserPass" value="4ssWVfZg9mWVZBDp0nKb6w=="/>
    <add key="UrlHomePage" value="/PTIntranetCorp/"/>
    <add key="rootChannel" value="/Channels/PTIntranetCorp/"/>
    <add key="NavigationChannel" value="/Channels/PTIntranetCorp/Canais/"/>
    <add key="rootSitePath" value="/PTIntranetSGPS"/>
    <add key="MailServer" value="mailapp.telecom.pt"/>
    <add key="Titleprefix" value=":: InSapo :: "/>
    <add key="URLContentPrintPage" value="/PTIntranetSGPS/Templates/SGPSConteudoImpressao.aspx"/>
    <add key="LogCMSPostingsOperation" value="true"/>
    <add key="siteID" value="IntraSGPS"/>
    <add key="MAXPERPAGE" value="20"/>
    <add key="SMSPage" value="/SGPSTools/SMSwarning.aspx"/>
    <add key="SMSWebServiceUrl" value="http://internalws.qa.telecom.pt/WSSMS/SGPSwebService.asmx"/>
    <add key="ConnectionString" value="Rlwk5gvDDcEg8PHXdbhsVy0ix3Sezoo02poCvEW8f6f1QSwFnqnUHdwzqe/70JUsqEv8G2ixdXmVMz+kzACEDHlFzeFIuCerzG7o3tbGu2IZgNlS7DzyRAjyWxUlwLYPrgqkaqUWLAg="/>
    <add key="smsMaxSize" value="125"/>
    <add key="ClassifiedChannel" value="/IntranetSGPS/Canais/Colaboradores/Classificados/"/>
    <add key="ClassifiedCSSTheme" value="AzulBebe"/>
    <add key="URLGoogleSearchWS" value="http://internalws.qa.telecom.pt/GoogleSearch/PTSGPSGoogleSearch.asmx"/>
    <add key="WebServiceADSearchDomainZoom" value="DC=ptcom,DC=CORPPT,DC=com;DC=ptprime,DC=CORPPT,DC=com"/>
    <add key="WebServiceADSearchDomainIntraPTC" value="DC=CORPPT,DC=com"/>
    <add key="ConnectionStrPhoneListDB" value="Rlwk5gvDDcEg8PHXdbhsVy0ix3Sezoo02poCvEW8f6f1QSwFnqnUHT4PySyKT9BO63au4z5l6P4CjivGGTGYkpYkwnywbZtJ4vhRP4PxfotDpEiptkdeqiwLOK/bcY+lKUZGHTpR25o="/>
    <add key="sp_CheckPhoneNumber" value="sp_sel_SmsBatch_CheckPhoneNumber"/>
    <add key="DomainException" value="ptcorporate.corppt.com;ptsi.corppt.com|ptventure.corppt.com;ptsi.corppt.com|ptcompras.corppt.com;pt-sgps.corppt.com|fundacao pt.corppt.com;pt-sgps.corppt.com;intranet.corppt.com|ptportugal.corppt.com"/>
    <!-- Connection e Stored Procedure para validar o n de telefone -->
    <!-- Versao nova da Base de dados -->
    <add key="EPTConnectionStrPhoneListDB" value="Rlwk5gvDDcEg8PHXdbhsVy0ix3Sezoo02poCvEW8f6f1QSwFnqnUHT4PySyKT9BO63au4z5l6P6EP4dsFOi8Jo61o26DWclLAuHcOyNXz8xSGwcoF1SeN3l2kZqINWFCXVB6G0oIxSI="/>
    <add key="EPTsp_CheckPhoneNumber" value="usp_Sel_SmsBatch_CheckPhoneNumber"/>
    <!-- HD:20121210 -->
    <add key="DiretorioWsUri" value="http://directorio.telecom.pt/_vti_bin/PtsiServiceMobile.asmx"/>
    <!--
   <add key="LDAPServer" value="LDAP://corppt.com:3269" />
     <add key="LDAPUsername" value="CORPPT\intranettempuser" />
    <add key="LDAPPassword" value="iIwK7rusF5MWItVh6zBJEw==" />
-->
    <add key="LDAPServer" value="LDAP://corppt.com:3269"/>
    <add key="LDAPUsername" value="Intranet\SearchWS"/>
    <add key="LDAPPassword" value="B+ylU4oAZ43SqvK8H+bbbw=="/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.7.2">
      <assemblies>
        <!--
        <add assembly="Microsoft.ContentManagement.Common, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.ContentManagement.Publishing, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.ContentManagement.Publishing.Extensions.Placeholders, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.ContentManagement.Publishing.Extensions.Placeholders.Office, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.ContentManagement.Web, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.ContentManagement.WebAuthor, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.ContentManagement.WebControls, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
-->
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"

     
   <authentication mode="Windows" /> 
  <authorization>
    <deny users="*" />
  </authorization>  
-->
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
 <authentication mode="Forms">    
        <forms name="IntranetPT" path="/" loginUrl="/ManualLogin.aspx"
                protection="All"  timeout="30" >
        </forms>
    </authentication>      
    
  <authorization>
    <deny users="?" />
  </authorization>
-->
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpModules>
      <!--
      <add type="Microsoft.ContentManagement.Web.Security.CmsAuthorizationModule, Microsoft.ContentManagement.Web, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CmsAuthorizationModule" />
      <add type="Microsoft.ContentManagement.Web.CmsEndRequestModule, Microsoft.ContentManagement.Web, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CmsEndRequestModule" />
      <add type="Microsoft.ContentManagement.Publishing.Events.PostingEventsModule, Microsoft.ContentManagement.Publishing, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CmsPosting" />
      <add type="Microsoft.ContentManagement.Web.Caching.CmsCacheModule, Microsoft.ContentManagement.Web, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CmsCacheModule" />
-->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>